services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes: 
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      # -U > user / -d > database

  migrate:
    build:
      context: .
      target: builder
    command: ["pnpm", "db:push"]
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
  
  web:
    build: .
    #ici on indique à Compose de construire l'image de ce service à partir du Dockerfile situé dans ce dossier
    container_name: to-do-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000 || exit 1"]
      #on essaie de faire une requête HTTP sur le service web. -f > curl retourne une erreur si le code HTTP est 4xx ou 5xx. Si la requête réussie, la cmd retourne 0 > Docker considère le container healthy. Si culr échoue, la cmd retourne 1 > Docker considérera le container unhealthy 
      #on peut ajouter d'autres options, comme interval, retries, start_period et timeout. Les valeurs par défaut : interval = 30s, timeout = 30s, retriers = 3, start_period = 0s

volumes: 
    db_data: