services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes: 
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      # -U > user / -d > database

  migrate:
    build:
      context: .
      target: builder
    command: ["pnpm", "db:push"]
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
  
  web:
    build: .
    #ici on indique à Compose de construire l'image de ce service à partir du Dockerfile situé dans ce dossier
    container_name: to-do-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully

volumes: 
    db_data: