# Metadata
name: CI

permissions:
  actions: read
  contents: read

# Event that triggers the workflow
on:
  push:
    branches:
      - main

# Define the jobs
jobs:
  unit-tests:
    runs-on: ubuntu-latest

    # Defines steps for the job
    steps:
      # Get the code (étape qui télécharge le code dans la VM GitHub)
      - uses: actions/checkout@v4 
      
      # Install pnpm
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false # Installe pnpm sans exéc pnpm install automatiquement

      # I need node.js for this app
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      
      # Install dependencies
      - run: pnpm install

      # Run unit tests
      - run: pnpm test
    
  e2e-tests:
    runs-on: ubuntu-latest
    needs: unit-tests  # les e2e ne se lancent que si les tests unitaires passent (s'ils échouent, on s'arrête avant donc gain de temps)

    steps:
      - uses: actions/checkout@v4

      # Install pnpm
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false 

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      # Install dependencies
      - run: pnpm install

      # Install Playwright browsers
      - run: pnpm exec playwright install --with-deps

      # Run e2e tests
      - run: pnpm test:e2e
  
  format-check:
    runs-on: ubuntu-latest
    needs: 
      - unit-tests
      - e2e-tests

    steps:
      - uses: actions/checkout@v4

      # Install pnpm
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false 

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      # Install dependencies
      - run: pnpm install

      # Check code formatting
      - run: pnpm format:check
    
  linter:
      runs-on: ubuntu-latest
      needs: 
        - unit-tests
        - e2e-tests

      steps:
        - uses: actions/checkout@v4

        - uses: pnpm/action-setup@v4
          with:
            version: 10
            run_install: false 

        - uses: actions/setup-node@v4
          with:
            node-version: 20
            cache: 'pnpm'

        # Install dependencies
        - run: pnpm install

        # Run Lint
        - run: pnpm lint
      
  build:
    runs-on: ubuntu-latest
    needs:
      - unit-tests
      - e2e-tests
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false 
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      
      # Installe les dépendances
      - run: pnpm install

      # Build
      - run: pnpm build